@charset "UTF-8";
/* latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url('/res:font.woff2') format('woff2');
}


:root, body[theme="zinc"] {
    /* Body */
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    /* Button Primary */
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    /* Button Secondary */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    /* Tabs, Skeleton, Switch */
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    /* Accent */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    /* Destructive */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Border */
    --border: 240 5.9% 90%;
    /* Input */
    --input: 240 5.9% 90%;

    /* Focus Ring */
    --ring: 240 5.9% 10%;

    /* Radius */
    --radius: 0.5rem;
    --checkbox-radius: 4px;

    /* Scrollbars */
    --scrollbar-width: 12px;
}

.dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
}

body[theme="red"] {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --ring: 0 72.2% 50.6%;
}

body[theme="red"].dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --ring: 0 72.2% 50.6%;
}

body[theme="rose"] {

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --ring: 346.8 77.2% 49.8%;

    --radius: 0.5rem;
}

body[theme="rose"].dark {

    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --ring: 346.8 77.2% 49.8%;
}

body[theme="orange"] {

    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --ring: 24.6 95% 53.1%;
}

body[theme="orange"].dark {

    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --ring: 20.5 90.2% 48.2%;
}

body[theme="green"] {

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --ring: 142.1 76.2% 36.3%;

    --radius: 0.5rem;

}

body[theme="green"].dark {

    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --ring: 142.4 71.8% 29.2%;
}

body[theme="blue"]{

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --ring: 221.2 83.2% 53.3%;
}

body[theme="blue"].dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --ring: 224.3 76.3% 48%;
}

body[theme="yellow"] {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;

    --ring: 20 14.3% 4.1%;
}

body[theme="yellow"].dark {

    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --primary: 47.9 95.8% 53.1%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;

    --ring: 35.5 91.7% 32.9%;
}

body[theme="violet"] {

    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --ring: 262.1 83.3% 57.8%;

}

body[theme="violet"].dark {

    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    
    --ring: 263.4 70% 50.4%;

}

body {
    color: hsl(var(--foreground));
}

/* Scrollbar Track */
::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width); 
    background-color: hsl(var(--muted)); 
    border-radius: var(--radius, 4px);
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary)); /* Color of the thumb */
    border-radius: var(--radius); /* Rounded corners */
    border: 2px solid transparent; /* Transparent border for smooth edges */
    background-clip: padding-box; /* Ensures the border doesn't overlap the background */
    transition: background-color 0.2s; /* Smooth transition for hover effect */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary)); /* Darker color on hover */
}

/* Scrollbar Thumb Active */
::-webkit-scrollbar-thumb:active {
    background-color: hsl(var(--primary)); /* Even darker color when clicked */
}

/* Scrollbar Corner (optional) */
::-webkit-scrollbar-corner {
    background-color: hsl(var(--muted)); /* Match the track color */
}

button {
    border: unset;
}

.remi-main textarea:focus,
.remi-main input[type='checkbox']:focus,
.remi-main input[type='color']:focus,
.remi-main input[type='number']:focus,
.remi-main input[type='text']:focus,
.remi-main input[type='date']:focus,
.remi-main select:focus {
    outline: 2px solid hsl(var(--ring));
}
::-moz-selection {
    outline: 2px solid hsl(var(--ring));
    text-shadow: none
}
::selection {
    outline: 2px solid hsl(var(--ring));
    text-shadow: none
}
.remi-main audio,
.remi-main canvas,
.remi-main iframe,
.remi-main img,
.remi-main svg,
.remi-main video {
    vertical-align: middle
}
.remi-main textarea {
    resize: vertical
}
.remi-main a,
.remi-main a:visited {
    text-decoration: underline
}
html{
    height: 100%;
}
.remi-main{
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    min-height: 100%;
}
*[hidden] {
    display: none!important
}
.remi-main h1,
.remi-main h2,
.remi-main h3,
.remi-main h4,
.remi-main h5,
.remi-main h6,
.remi-main p {
    padding: 0
}
.remi-main h1 small,
.remi-main h2 small,
.remi-main h3 small,
.remi-main h4 small,
.remi-main h5 small,
.remi-main h6 small {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: -.02em;
    opacity: .54;
    font-size: .6em
}
.remi-main h1 {
    font-size: 400%;
    line-height: 1.35;
    letter-spacing: -.02em;
    margin: 24px 0
}
.remi-main h1,
.remi-main h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}
.remi-main h2 {
    font-size: 320%;
    line-height: 48px
}
.remi-main h2,
.remi-main h3 {
    margin: 24px 0
}
.remi-main h3 {
    font-size: 240%;
    line-height: 40px
}
.remi-main h3,
.remi-main h4 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400
}
.remi-main h4 {
    font-size: 170%;
    line-height: 32px;
    -moz-osx-font-smoothing: grayscale;
    margin: 24px 0 16px
}
.remi-main h5 {
    font-size: 140%;
    font-weight: 500;
    line-height: 1;
    letter-spacing: .02em
}
.remi-main h5,
.remi-main h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 24px 0 16px
}
.remi-main h6 {
    font-size: 114%;
    letter-spacing: .04em
}
.remi-main h6,
.remi-main p {
    font-weight: 400;
    /*line-height: 24px*/
}
.remi-main p {
    letter-spacing: 0;
    margin: 0px
}
.remi-main a {
    color: rgba(2, 70, 147, 0.8);
    font-weight: 500
}
.remi-main blockquote {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    position: relative;
    font-size: 170%;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em
}
.remi-main blockquote:before {
    position: absolute;
    left: -.5em;
    content: '�'
}
.remi-main blockquote:after {
    content: '�';
    margin-left: -.05em
}
.remi-main mark {
    background-color: #f4ff81
}
.remi-main dt {
    font-weight: 700
}
.remi-main address {
    font-size: 86%;
    line-height: 1;
    font-style: normal
}
.remi-main address,
.remi-main ul,
.remi-main ol {
    font-weight: 400;
    letter-spacing: 0
}
.remi-main ul,
.remi-main ol {
    line-height: 24px
}
.remi-main .RaisedFrame {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    z-index: 1;
}
body.remi-main > div {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.remi-main div {
    background-color: hsl(var(--background));
    z-index: 0;
}
.remi-main *[disabled='True']{
    filter: grayscale(100%) opacity(0.6);
    pointer-events: none;
}
.remi-main .ListView {
    padding: 5px;
    background-color: hsl(var(--background));
    cursor: default;
    overflow: auto;
    list-style: none;
}
.remi-main option:hover {
    background: hsl(var(--border));
    outline: 1px solid red;
}
.remi-main .ListItem:hover {
    background: hsl(var(--accent));
    color: hsl(var(--accent-foreground))
}
.remi-main .ListItem[selected='True'] {
    background: hsl(var(--accent));
    color: hsl(var(--accent-foreground))
}
.remi-main input[type='number'],
.remi-main input[type='text'],
.remi-main input[type='date'],
.remi-main input[type='color'],
.remi-main textarea,
.remi-main select {
    border: 1px solid hsl(var(--input));
    border-radius: var(--radius);
    font-size: 95%;
    height: 28px;
    padding: 4px;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
    background-color: hsl(var(--background));
}


.remi-main input[type='number']:checked {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground))
}

.remi-main textarea:disabled,
.remi-main input[type='checkbox']:disabled,
.remi-main input[type='color']:disabled,
.remi-main input[type='number']:disabled,
.remi-main input[type='text']:disabled,
.remi-main input[type='date']:disabled {
    color: hsl(var(--muted-foreground));
    cursor: default;
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    background: hsl(var(--muted));
}

input[type="checkbox"] {
    /* Hide the default checkbox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid hsl(var(--border));
    border-radius: var(--checkbox-radius);
    background-color: hsl(var(--background));
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s, border-color 0.2s;
}

/* Checked state */
input[type="checkbox"]:checked {
    background-color: hsl(var(--primary));
    border-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
}

/* Checkmark */
input[type="checkbox"]:checked::after {
    content: "✓";
    position: relative;
    left: -2px;
    top: -6px;
    width: 5px;
    height: 10px;
    font-size: x-large;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
}

/* Hover state */
input[type="checkbox"]:hover {
    border-color: hsl(var(--primary));
}

/* Disabled state */
input[type="checkbox"]:disabled {
    background-color: hsl(var(--muted));
    border-color: hsl(var(--muted-foreground));
    cursor: not-allowed;
}

input[type="checkbox"]:disabled:checked {
    background-color: hsl(var(--muted-foreground));
    border-color: hsl(var(--muted-foreground));
}

/* Focus state */
input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px hsl(var(--ring));
}

.remi-main select {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
}

.remi-main button {
    background: 0 0;
    /*border: 1px solid hsl(var(--border));*/
    border-radius: var(--radius);
    position: relative;
    margin: 0;
    padding: 0 0px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    background: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    box-shadow: none;
}
@keyframes remi-main-outline-animation {
    0% {outline: 1px dashed lightgray;}
    100% {outline: 1px dashed white;}
}
.remi-main button:focus {
    box-shadow: 3px 3px 5px rgb(130,130,130);
    outline: 1px dashed lightgray;
    animation-name: remi-main-outline-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.remi-main button:disabled {
    background-color: #ddd;
    background: #ddd;
    border: 1px solid #ddd;
    box-shadow: none;
    cursor: default;
    color: #9F9F9F;
}
.remi-main button:active{
    background: hsl(var(--primary));
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .12), 0 2px 0px -1px rgba(0, 0, 0, .2);
}
.remi-main .TextInput {
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
    display: block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    /*background: 0 0;*/
    text-align: left;
    color: inherit;
}
.remi-main table {
    border-spacing: 0;
    overflow: scroll;
    border-collapse: collapse;
    border-radius: var(--radius);
    text-align: center;
    /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1); */
}

.remi-main table th {
    font-weight: bold;
}

.remi-main table tr:first-child th {
    border-top: 0px;
}

.remi-main table tr:last-child td {
    border-bottom: 0px;
}

.remi-main table tr th:first-child,
.remi-main table tr td:first-child {
    border-left: 0px;
}

.remi-main table tr th:last-child,
.remi-main table tr td:last-child {
    border-right: 0px;
}

.remi-main .TableItem {
    padding: 0px;
    border: 1px solid hsl(var(--border));
    outline: 0px;
}
.remi-main .TableEditableItem>.TextInput {
    height: 100%;
}
.remi-main td {
    border: 1px solid hsl(var(--border));
    outline: 0px;
    background-color: hsl(var(--background));
}
.remi-main th {
    border: 1px solid hsl(var(--border));
    outline: 0px;
    background:hsl(var(--background));
    color: hsl(var(--foreground));
    font-weight: normal;
}
.remi-main p.DialogTitle {
    background: hsl(var(--background));
    border-bottom: 1px solid hsl(var(--border));
    padding: 10px;
    color: hsl(var(--foreground));
    font-weight: bold;
    text-align: center;
}
.remi-main p.Title {
    border: 0px;
    color: inherit;
    font-weight: bold;
}
.remi-main nav > ul.Menu {
    background: hsl(var(--background));
    border: 0px;
    color: hsl(var(--foreground));
    margin: 0px;
}
.remi-main ul.Menu {
    list-style-type: none;
    padding: 0;
    position: relative;
}
.remi-main .MenuItem {
    cursor: default;
    text-align: center;
    position: relative;
}
.remi-main .Menu .Menu {
    position: absolute;
}
.remi-main .Menu .Menu .Menu {
    top: 5%;
    left: 95%;
    position: absolute;
}
.remi-main .MenuItem .Menu {
    display: none;
    background-color: hsl(var(--background));
    /*border: 1px solid #9C9B9B;*/

    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
    color: black;
    height: auto !important;
    position: absolute;
    top: 100%;
    z-index: 1;
}
.remi-main .MenuBar>.Menu>.MenuItem {
    background: hsl(var(--background));
}

.remi-main .MenuBar {
    border-bottom: 1px solid hsl(var(--border));
}
.remi-main .Menu > .MenuItem:focus-within {
    background: hsl(var(--accent));
    color: hsl(var(--accent-foreground))
}
.remi-main .MenuItem .MenuItem:focus-within {
    background: hsl(var(--accent));
    color: hsl(var(--accent-foreground))
}
.remi-main .Menu::after {
    content: "";
    clear: both;
}

.remi-main .MenuItem:focus-within > .Menu {
    display: block;
}
.remi-main input.file {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: hsl(var(--primary));
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.remi-main input[type='range'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    padding: 0;
    color: hsl(var(--primary));
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    z-index: 1;
    cursor: pointer;
    height: 100%;
}
.remi-main input[type='range']::-moz-focus-outer {
    border: 0
}
.remi-main input[type='range']::-ms-tooltip {
    display: none
}
.remi-main input[type='range']::-webkit-slider-runnable-track {
    background: hsl(var(--border));
    height: 2px;
}
.remi-main input[type='range']::-moz-range-track {
    background: hsl(var(--border));
    height: 2px;
    border: none;
}
.remi-main input[type='range']::-ms-track {
    background: hsl(var(--border));
    height: 2px;
    color: transparent;
    width: 100%;
    border: none;
}
.remi-main input[type='range']::-ms-fill-lower {
    padding: 0;
    background: linear-gradient(to right, transparent, transparent 16px, hsl(var(--border)), hsl(var(--border)))
}
.remi-main input[type='range']::-ms-fill-upper {
    padding: 0;
    background: linear-gradient(to left, transparent, transparent 16px, rgba(0, 0, 0, .26), rgba(0, 0, 0, .26)0)
}
.remi-main input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    top: -5px;
    width: 12px;
    height: 12px;
    position: relative;
    box-sizing: border-box;
    border-radius: 100%;
    background: hsl(var(--primary));
    border: none;
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), border .18s cubic-bezier(.4, 0, .2, 1), box-shadow .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}
.remi-main input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    width: 12px;
    height: 12px;
    box-sizing: border-box;
    border-radius: 100%;
    background-image: none;
    background: hsl(var(--primary));
    border: none
}
.remi-main input[type='range']:focus:not(:active)::-webkit-slider-thumb {
    box-shadow: 0 0 0 10px hsl(var(--accent));
}
.remi-main input[type='range']:focus:not(:active)::-moz-range-thumb {
    box-shadow: 0 0 0 10px hsl(var(--accent));
}
.remi-main input[type='range']:active::-webkit-slider-thumb {
    background-image: none;
    background: hsl(var(--primary));
    /*-webkit-transform: scale(1.5);*/
    /*transform: scale(1.5)*/
}
.remi-main input[type='range']:active::-moz-range-thumb {
    background-image: none;
    background: hsl(var(--primary));
    /*transform: scale(1.5)*/
}
.remi-main input[type='range']::-ms-thumb {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background: hsl(var(--primary));
    /*transform: scale(.375);*/
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1);
    transition: transform .18s cubic-bezier(.4, 0, .2, 1), background .28s cubic-bezier(.4, 0, .2, 1), -webkit-transform .18s cubic-bezier(.4, 0, .2, 1)
}
.remi-main input[type='range']:focus:not(:active)::-ms-thumb {
    background: radial-gradient(circle closest-side, hsl(var(--border)) 0%, hsl(var(--border)) 37.5%, hsl(var(--accent)); 37.5%, hsl(var(--accent));100%);
    transform: scale(1)
}
.remi-main input[type='range']:active::-ms-thumb {
    background: hsl(var(--primary));
    /*transform: scale(.5625)*/
}
.remi-main input[type='range']:disabled:focus::-webkit-slider-thumb,
.remi-main input[type='range']:disabled:active::-webkit-slider-thumb,
.remi-main input[type='range']:disabled::-webkit-slider-thumb {
    -webkit-transform: scale(.667);
    /*transform: scale(.667);*/
    background: rgba(0, 0, 0, .26)
}
.remi-main input[type='range']:disabled:focus::-moz-range-thumb,
.remi-main input[type='range']:disabled:active::-moz-range-thumb,
.remi-main input[type='range']:disabled::-moz-range-thumb {
    /*transform: scale(.667);*/
    background: rgba(0, 0, 0, .26)
}

progress {
    /* Reset default styles */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background: hsl(var(--muted));
    border-radius: var(--radius, 4px);
    height: var(--progress-height, 8px);
    width: 100%;
    overflow: hidden;
}

/* WebKit (Chrome, Safari) */
progress::-webkit-progress-bar {
    background: hsl(var(--muted));
    border-radius: hsl(var(--radius));
}

progress::-webkit-progress-value {
    background: hsl(var(--primary));
    border-radius: var(--radius, 4px);
    transition: width 0.3s ease;
}

/* Firefox */
progress::-moz-progress-bar {
    background: hsl(var(--primary));
    border-radius: hsl(var(--radius));
}

/* Indeterminate state */
progress:indeterminate {
    background: linear-gradient(
        90deg,
        hsl(var(--muted)) 25%,
        hsl(var(--primary)) 50%,
        hsl(var(--muted)) 75%
    );
    background-size: 200% 100%;
    animation: progress-indeterminate 2s linear infinite;
}

@keyframes progress-indeterminate {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.remi-main #loading {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #000;
    opacity: 0.8;
}
.remi-main #loading-animation {
  width: 40px;
  height: 40px;
  background-color: hsl(var(--primary));

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

ul, ul li {
    border-radius: var(--radius);
}

ul:not(.Menu) {
    border: 1px solid hsl(var(--border));
}

ul > li {
    text-align: left;
    padding-left: 5px
}

.remi-main .TabBox{
    box-shadow: 3px 3px 5px rgb(150,150,150);
}

.remi-main .TabBox ul {
    padding-left: 0;
    margin: 0px;
}

.remi-main .TabBox ul li {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    color: #888;
    padding: 20px 0;
    outline: 1px solid #888;
    background: #e7e7e7;
}

.remi-main .TabBox ul li.active {
    background: white;
    outline: none;
}

.remi-main .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 320px) {
   .remi-main {
    font-size: 12px;
   }
   .remi-main button {
    padding: 0 2px;
    font-size: 12px;
   }
   .remi-main select {
    font-size: 12px;
   }
}

@media only screen and (max-width: 360px) {
   .remi-main {
    font-size: 13px;
   }
   .remi-main button {
    padding: 0 2px;
    font-size: 13px;
   }
   .remi-main select {
    font-size: 13px;
   }
}

.remi-main ul.TreeView{
    list-style-type: none;
    padding: 0;
    position: relative;
    display: block;
}
.remi-main .TreeItem{
    background-repeat: no-repeat;
    text-indent: 18px;
    display: block;
}
.remi-main .TreeItem[has-subtree='true'][treeopen='false']{
    background-image: url('/res:plus.png');
    background-position: 0px 4px;
}
.remi-main .TreeItem[has-subtree='true'][treeopen='true']{
    background-image: url('/res:minus.png');
    background-position: 0px 4px;
}
.remi-main .TreeItem[treeopen="false"] .TreeView .TreeItem{
    display: none;
}
.remi-main .TreeItem[treeopen="false"] .TreeView{
    display: none;
}
.remi-main .TreeItem[treeopen="true"] .TreeView{
    padding-left: 18px;
}
.remi-main .TreeItem:hover {
    background-color: hsl(var(--border));
}
.remi-main .TreeItem[has-subtree='true'][treeopen='true']:hover {
    background-color: transparent;
}
.remi-main a {
    outline:none;
}

.remi-main .FileFolderItem {
    margin:2px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: flex-start;
}

.remi-main .FileFolderItem .Label{
    margin:0px;
}

.remi-main .FileFolderItemIcon {
    width:30px;
    height:30px;
}
